*{
    background-color: transparent;
}

body{
    height:100%;
    display: flex;
    min-height: 100vh;
}

form{
    height: 400px;
    width: 90%;
    max-width: 350px;    
    border-radius: 20px;
    background-color: rgb(128,128,128,0.9);
    margin: auto;   
    padding: 30px 20px;
    box-shadow: 5px 5px 10px 2px black;
}

form h1{
    font-size: 35px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

form h6{
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    margin: 10px auto;
}

.conteiner{
    margin-top: 40px;
    display: grid;
    gap: 3em;
}

.group{
    position: relative;
}

.imputos{
    height: 1.5em;
    width: 90%;
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px black solid;
}


form label{
    font-size: 18px;
    position: absolute;
    margin-left: 2.5%;
    transform: translateY(-1.5em);
    color: rgb(80, 78, 78,0.6);
}

#fsubmit{
    height: 2em;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 5px auto;
    background-color: rgb(27, 26, 26);
    color: white;
    box-shadow: 2px 2px 5px;
}

#fsubmit:hover{
    box-shadow: 3px 3px 5px 2px;
}











